/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	font-size: 16px;
	background-image: url("/src/assets/lava-bg.jpg");
	background-size: cover;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NAV STYLES */

.navbar {
	background-color: red;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	padding: 0 100px;
}

.logo {
	width: 200px;
	height: auto;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.links li {
	margin: 1rem;
}
